

body {
	background-image: url("https://i.imgur.com/z1z99bB.png");
	margin: 0 auto;
}

.container {
	      clear: both;
          width: 650px;
          height: 450px;
          background-color: white;
          padding-left:  20px;
          padding-right: 20px;

}



.main {
	background-color: white;
	padding: 0px;
}

.whole {
	width: 960px;
	margin: auto;
}

h1 {	
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;

}

li {
	float:right;
	color: black;
	padding:  16px;
	position: relative;
}

#name {
	font-size: 34px;
	background-color: #ffffff;
	padding-top: 20px;
}

span {
	background-color: #ffffff;
}

 #image {
	float: left;
	color: white;
	padding: 0 20px 20px 0;
}

#connect {	
    clear: both;
	text-align: center;	
	width: 270px;
	height: 200px;
	float: right;
	position: fixed;
	top: 70px;
	right: 460px;
	background-color: white;
}

hr {
	display:block;
	background-color: grey;
	height: 1px;
}

#one {
	display: block;
	height: 1px;
	width: 80%;
}

.about {
	float:left;
	background-color: white;
	width:55%;
	margin-top: 20px;
	padding-left: 20px;
	font-size: 24px;
}



p {
	text-align: left;
	font-size: 18px;
}

